<div class="chat-container container-fluid">
  <div class="chat-header">
    <h1 class="display-1" [ngClass]="{'text-danger': isDanger()}">{{getTimeLeftStr()}}</h1>
    <h1 *ngIf="timeLeft === 0"><fa-icon [icon]="faSkull"></fa-icon> Game over !</h1>
  </div>
  <div class="chat-body">
    <div class="messages-container card" #scrollMe>
      <div *ngFor="let message of messages"
           class="message-row">
        <p>{{message}}</p>
      </div>
    </div>
    <form class="form-container">
      <div class="input-group">

          <input type="text" class="form-control mt-2"
                 [(ngModel)]="message"
                 (keyup)="$event.keyCode == 13 && sendMessage()"
                 name="message" />
          <div class="input-group-append">
            <button (click)="sendMessage()"
                  [disabled]="!message || message == '' "
                  class="btn btn-light mt-2">Envoyer !</button>
          </div>
      </div>
    </form>
  </div>
</div>
<div class="container">
  <div class="row mt-4">
    <button type="button" class="col btn btn-success btn-lg mr-2" (click)="startTimer()">
      <fa-icon [icon]="faPlay"></fa-icon> Start
    </button>
    <button type="button" class="col btn btn-warning btn-lg mr-2" (click)="pauseTimer()">
      <fa-icon [icon]="faPause"></fa-icon> Pause
    </button>
    <button type="button" class="col btn btn-primary btn-lg mr-2" (click)="resetTimer()">
      <fa-icon [icon]="faUndo"></fa-icon> Reset
    </button>
    <button type="button" class="col btn btn-danger btn-lg mr-2" (click)="stopTimer()">
      <fa-icon [icon]="faStop"></fa-icon> Stop
    </button>
  </div>
</div>