<div class="chat-container container-fluid">
  <div class="chat-header">
    <h1>
      Welcome to {{ title }}!  {{timeLeft}}
    </h1>
  </div>
  <div class="chat-body">
    <div class="messages-container card" #scrollMe>
      <div *ngFor="let message of messages"
           class="message-row">
        <p>{{message}}</p>
      </div>
    </div>
    <form class="form-container">
      <div class="input-group">

          <input type="text" class="form-control mt-2"
                 [(ngModel)]="message"
                 (keyup)="$event.keyCode == 13 && sendMessage()"
                 name="message" />
          <div class="input-group-append">
            <button (click)="sendMessage()"
                  [disabled]="!message || message == '' "
                  class="btn btn-light mt-2">Envoyer !</button>
          </div>
      </div>
    </form>
  </div>
</div>
<div class="toolbar container">
  <div class="row mt-4">

    <button type="button" class="col btn btn-success btn-lg" (click)="startTimer()">Start</button>&nbsp;

    <button type="button" class="col btn btn-warning btn-lg" (click)="pauseTimer()">Pause</button>&nbsp;

    <button type="button" class="col btn btn-primary btn-lg" (click)="resetTimer()">Reset</button>&nbsp;

    <button type="button" class="col btn btn-danger btn-lg" (click)="stopTimer()">Stop</button>
  </div>
</div>