<div class="chat-container">
  <div class="chat-header">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <div class="chat-body">
    <div class="messages-container" #scrollMe>
      <div *ngFor="let message of messages" class="message-row">
        <p>{{message}}</p>
      </div>
    </div>
    <div class="form-container">
      <input [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()" />
      <button (click)="sendMessage()" [disabled]="!message || message == '' ">Envoyer !</button>
    </div>
  </div>
</div>